<div class="logo">
  <h1>HIG EOM</h1>
</div>

<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="<%= active?(root_path) %>">
      <a href="/" class="glyphicon glyphicon-home"></a>
    </li>

    <%= render 'shared/employee_items_nav' if employee? %>
    <%= render 'shared/manager_audit_log_nav' if manager_or_admin? %>

    <li class="dropdown pull-right">
       <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
      <ul class="dropdown-menu">
        <%= render 'shared/admin_link_nav.html.erb' if manager_or_admin? %>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>
