<div class="container-fluid">
  <!-- Pending Requests -->
  <div class="pending-posts request_approvals row">
    <h2>Requests Pending Approval</h2>
    <hr>
    <% @pending_requests.each do |pending_request| %>
      <div class="welcome-page-block col-md-3">
        <h5><%= pending_request.user.full_name %></h5>
        <p><span class="post-details">Submitted:</span><%= pending_request.date %></p>
        <p><span class="post-details">Work Summary:</span><%= truncate(pending_request.work_summary, length: 25) %></p>
        <div class="row">
          <div class="col-md-6 column">
            <%= link_to "Approve", approve_request_path(pending_request), class: 'btn btn-success btn-block', id: "#{pending_request.id}_approve" %>
          </div>
          <div class="col-md-6 column">
            <%= link_to "Review", edit_request_path(pending_request), class: 'btn btn-danger btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="pending-posts audit_submissions row">
    <h2>Audit Logs For Submission</h2>
    <hr>
    <% @recent_audits.each do |audit| %>
      <div class="welcome-page-block col-md-3">
        <h5><%= audit.user.full_name %></h5>
        <p><span class="post-details">Audit Start Date: </span><%= audit.start_date %></p>
        <p><span class="post-details">Audit End Date: </span><%= audit.end_date || status_look('pending') %></p>
        <p><span class="post-details">Status: </span><%= status_look audit.status %></p>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <hr>
    <%= link_to  "View all Audit Logs", audit_logs_path, class: "btn btn-primary btn-block" %>
  </div>
</div>
