<%= form_for @request, class: "form-horizontal" do |f| %>

  <% if @request.errors.any? %>
    <% @request.errors.full_messages do |msg| %>
      <%= js add_gritter(msg, title: "HIG App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :in_time, class: "col-sm-2 control-label" %>
    <%= f.datetime_field :in_time, class: "text_field form-control", step: :any %>
  </div>

  <div class="form-group">
    <%= f.label :out_time, class: "col-sm-2 control-label" %>
    <%= f.datetime_field :out_time, class: "text_field form-control", step: :any %>
  </div>

  <div class="form-group">
    <%= f.label :work_summary, "Enter pass on messages & shift issues here..", class: "col-sm-2 control-label" %>
    <%= f.text_area :work_summary, class: "form-control" %>
  </div>

  <% if current_user.type == "AdminUser" %>
    <div class="form-group">
      <%= f.radio_button :status, 'submitted' %>
      <%= f.label :status, "Submitted" %></br>

      <%= f.radio_button :status, 'approved' %>
      <%= f.label :status, "Approved" %></br>

      <%= f.radio_button :status, 'rejected' %>
      <%= f.label :status, "Rejected" %>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>

<% end %>
