<%= form_for @request, class: "form-horizontal" do |f| %>

  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reason, class: "col-sm-2 control-label" %>
    <%= f.text_area :reason, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>

<% end %>
