<tr>
  <td>
    <%= request.id %>
  </td>
  <td>
    <%= request.user.full_name %>
  </td>
  <td>
    <%= request.date %>
  </td>
  <td>
    <%= request.request_hours.to_f %>
  </td>
  <td>
    <%= link_to truncate(request.reason), request %>
  </td>
  <td>
    <%= status_look request.status %>
  </td>
  <td>
    <%= link_to '', edit_request_path(request), id: "edit_#{request.id}", class: "glyphicon glyphicon-pencil index-icon" if policy(request).update? %>
  </td>
  <td>
    <%= link_to '', request_path(request), method: :delete, data: { confirm: "Are you sure?" }, id: "delete_request_#{request.id}", class: "glyphicon glyphicon-trash index-icon" %>
  </td>
</tr>
