<div class="container">
  <div>
    <h2><%= @request.work_summary %></h2>
  </div>

  <div class="well">
    <div>
      <h3><span>Hours Worked:</span> <%= @request.day_hours.to_f %></h3>
    </div>

    <div>
      <h3><span>Employee:</span> <%= @request.user.full_name %></h3>
    </div>

    <div>
      <h3><span>Date:</span> <%= @request.date %></h3>
    </div>

    <div>
      <h3><span>Current Status:</span> <%= @request.status %></h3>
    </div>
    <div>
      <%= link_to "Edit", edit_request_path(@request), class: "btn btn-primary" if policy(@request).update? %>
      <%= link_to 'Delete', request_path(@request), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" if !policy(@request).destroy? %>
    </div>
  </div>
</div>
